.modal_main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(51, 51, 51, 0.9);
    position: fixed;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.modal_main_clicked{
    animation: zoom 0.2s linear 1;
}

@keyframes zoom {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

.modal_box{
    max-width: 600px;
    min-width: 500px;
    background-color: ghostwhite;
    border: 1px solid slategray;
    border-radius: 0.5rem;
    padding: 0 1rem;

    box-shadow: 0 0 5px whitesmoke;
}

.modal_top{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    padding: 0.75rem;
    border-bottom: 1px solid rgb(202, 200, 200);
}

.modal_body{
    padding: 0.75rem;
    padding-bottom: 1rem;
    text-align: center;
    color: black;
}